{# Expects `pages` in scope, set by the caller before {% include %}. #}
<ul class="thumb-list">
  {% for page in pages %}
  <li>
    {% if page.extra.thumbnail %}
    <img class="thumb-img" src="{{ page.extra.thumbnail }}" alt="" loading="lazy" />
    {% endif %}
    <div class="thumb-body">
      <div class="thumb-row">
        <a href="{{ page.path }}" class="thumb-title">{% if page.extra.type %}{{ page.extra.type }}: {% endif %}{{ page.title }}</a>
        {% if page.date %}
        <span class="post-date">{{ page.date | date(format="%b %d, %Y") }}</span>
        {% endif %}
      </div>
      {% if page.description %}
      <span class="thumb-desc">{{ page.description }}</span>
      {% endif %}
      {% include "_tags.html" %}
    </div>
  </li>
  {% endfor %}
</ul>
