{% extends "base.html" %}

{% block title %}{{ page.title }} · {{ config.title }}{% endblock title %}
{% block description %}{{ page.description or config.description }}{% endblock description %}

{% block path %}~{{ page.path | trim_end(pat="/") }}{% endblock path %}

{% block content %}
<article>
  <h1 class="article-title">{{ page.title }}</h1>
  {% if page.description %}
  <div class="byline">{{ page.description }}</div>
  {% endif %}
  <div class="post-meta">
    {% if page.date %}
    <span>{{ page.date | date(format="%b %d, %Y") }}</span>
    {% endif %}
    {% include "_tags.html" %}
  </div>

  <div class="content">
    {{ page.content | safe }}
  </div>

  {% include "_related-links.html" %}
</article>
{% endblock content %}
