{% extends "base.html" %}

{% block title %}Tags · {{ config.title }}{% endblock title %}
{% block path %}~/tags{% endblock path %}

{% block content %}
<div class="section-page">
  {% set title = "tags" %}
  {% set path = "~/tags" %}
  {% include "_section-header.html" %}
  <ul class="post-list">
    {% for term in terms %}
    <li>
      <a href="{{ term.permalink }}" class="post-title">{{ term.name }}</a>
      <span class="post-date">{{ term.pages | length }} posts</span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
