{% extends "base.html" %}

{% block title %}{{ page.title }} · {{ config.title }}{% endblock title %}
{% block description %}{{ page.description or config.description }}{% endblock description %}

{% block path %}~{{ page.path | trim_end(pat="/") }}{% endblock path %}

{% block content %}
{% set git_dates = load_data(path="_git-dates.json", required=false) %}
<article>
  <h1 class="article-title">{{ page.title }}</h1>
  {% if page.description %}
  <div class="byline">{{ page.description }}</div>
  {% endif %}
  <div class="post-meta">
    {% include "_wiki-updated.html" %}
    {% include "_tags.html" %}
  </div>

  <div class="content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
